<nav class="fixed-top navbar navbar-expand-lg navbar-light bg-light nav-h">
  <div class="container">
      <a class="navbar-brand" href="#"><img src="../assets/img/logo.svg" alt="Hipnoedu" height="31px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              <a (click)="navigate($event.target.hash)" class="nav-item nav-link active" href="#home">inicio</a>
              <a (click)="navigate($event.target.hash)" class="nav-item nav-link" href="#sobre">sobre</a>
              <a (click)="navigate($event.target.hash)" class="nav-item nav-link" href="#duvidas">como funciona</a>
              <a (click)="navigate($event.target.hash)" class="nav-item nav-link" href="#contato">entre em contato</a>
              <a class="nav-item nav-link" href="https://web.facebook.com/Hipnoedu-543539112678225/" target="_blank"><img src="../assets/icon/icon-facebook.svg" height="21px" alt="Facebook" srcset=""></a>
              <a class="nav-item nav-link" href="https://www.linkedin.com/company/hipnoedu/" target="_blank"><img src="../assets/icon/icon-linkedin.svg" height="21px" alt="LinkedIn" srcset=""></a>
              <a class="nav-item nav-link whats" href="#"><img src="../assets/icon/icon-whatsapp.svg" height="18px" alt="WhatsApp" srcset="">11 95941-5861</a>
          </div>
      </div>
  </div>
</nav>
