<section id="depoimentos">
    <div class="container">
        <h2 class="title-section gray text-center mb-4">Depoimentos</h2>

        <div class="row">

          <div class="col-md-4 asp">
            <p class="text-center text-content italic p-4">Depois que fiz o meu primeiro e unica sessão no Hipnoedu, descobri o meu potencial para solucionar os problemas.</p>
            <div class="people-info d-flex justify-content-center mt-4 ">
              <img src="../../../assets/img/dep_1.png" alt="Maria do Rosário">
              <span class="ml-2"><b>Maria do Rosário</b> <br>Sentia-se depressiva</span>
            </div>
          </div>

          <div class="col-md-4 asp">
            <p class="text-center text-content italic p-4">Descobri o meu potencial criativo após passar pela terapia transformadora do Hipnoedu.</p>
            <div class="people-info d-flex justify-content-center mt-4 ">
              <img src="../../../assets/img/dep_2.png" alt="Maria do Rosário">
              <span class="ml-2"><b>Felipe da Silva</b> <br>Queria potencializar seu poder criativo</span>
            </div>
          </div>

          <div class="col-md-4 asp">
            <p class="text-center text-content italic p-4">Encontrei dentro de mim as barreiras invisíveis que limitavam o meu crescimento.</p>
            <div class="people-info d-flex justify-content-center mt-4 ">
              <img src="../../../assets/img/dep_3.png" alt="Maria do Rosário">
              <span class="ml-2"><b>Thiago da Silva</b> <br>Desejava expandir seus sonhos</span>
            </div>
          </div>

        </div>
    </div>
  </section>
