<section id="media" class="h-100">
  <div class="container h-100">
    <div class="row d-flex align-items-center h-100">
      <div class="offset-1 col-md-4">
        <h3 class="text-content p-0 m-0" >Tema destaque nas principais mídias:</h3>
      </div>
      <div class="col-md-7 d-flex justify-content-between">
        <img src="../../../assets/img/midia-03.png" alt="">
        <img src="../../../assets/img/midia-04.png" alt="">
        <img src="../../../assets/img/midia-05.png" alt="">
        <img src="../../../assets/img/midia-06.png" alt="">
      </div>
    </div>
  </div>
</section>
