<section id="sobre">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2 class="title-section blue text-right">Hipinose para reeduca a mente</h2>
      </div>
      <div class="col-md-8">
        <p class="text-content">A hipnoedu é especialista em hipnoterapia avançada e em educação para transformar a vida das pessoas, colocando-as como protagonistas de suas vidas, por meio do conhecimento do eu. Para este trabalho, é utilizado uma terapia inovadora que busca focar apenas nas causas do problema, reprogramando a mente subconsciente que armazena as informações das emoções causadoras dos sintomas do problema.</p>
      </div>
    </div>
  </div>
</section>
