<section id="tratamentos">
    <div class="container">

      <h2 class="title-section gray text-center">Encontramos e tratamos a raiz da dificuldade</h2>
      <div class="row justify-content-center d-flex mt-5">
        <div class="col-md-3 box-item d-flex justify-content-center align-content-center"><span>Depressão</span> </div>
        <div class="col-md-3 box-item d-flex justify-content-center align-content-center ml-2"><span>Alergia</span> </div>
        <div class="col-md-3 box-item d-flex justify-content-center align-content-center ml-2"><span>Vicios</span> </div>
        <div class="col-md-3 box-item d-flex justify-content-center align-content-center ml-2"><span>Gagueira</span> </div>
      </div>
      <div class="row justify-content-center d-flex mt-2">
        <div class="col-md-3 box-item d-flex justify-content-center align-content-center"><span>Estresse</span> </div>
        <div class="col-md-3 box-item d-flex justify-content-center align-content-center ml-2"><span>Dores crônicas</span> </div>
        <div class="col-md-3 box-item d-flex justify-content-center align-content-center ml-2"><span>Insônia</span> </div>
        <div class="col-md-3 box-item d-flex justify-content-center align-content-center ml-2"><span>Indisciplina</span> </div>
      </div>
      <div class="row justify-content-center d-flex mt-2">
        <div class="col-md-3 box-item d-flex justify-content-center align-content-center"><span>Síndrome<br>do pânico</span> </div>
        <div class="col-md-3 box-item d-flex justify-content-center align-content-center ml-2"><span>Andiedade</span> </div>
        <div class="col-md-3 box-item d-flex justify-content-center align-content-center ml-2"><span>Medos</span> </div>
        <div class="col-md-3 box-item d-flex justify-content-center align-content-center ml-2"><span>Falta de foco</span> </div>
      </div>

      <p class="mt-3 text-center text-content big">Entre muitas outras dificuldades a desenvolver</p>

      <div class="row mt-4 d-flex justify-content-center">
        <button class="btn cta yallow">quero desenvolver</button>
      </div>

    </div>
  </section>
