<section id="duvidas">
    <div class="container">
      <div class="row mb-3">
        <h3 class="title-subsection">O que é hipnose?</h3>
        <p class="text-content space-small">A hipnose é uma ferramenta terapêutica profissional e reconhecida que amplia o contato do ser humano com o seu subconsciente, e ajuda a encontrar e solucionar o raiz do problema.</p>
      </div>

      <div class="row mb-3">
        <h3 class="title-subsection">A hipnose funciona mesmo?</h3>
        <p class="text-content space-small">Sim. A hipnose é reconhecida como uma importante ferramenta que amplia a atividade psiquíca e desencadeia importantes reações cerebrais.</p>
      </div>

      <div class="row mb-3">
        <h3 class="title-subsection">Qualquer pessoa pode ser hipnotizada?</h3>
        <p class="text-content space-small">Sim, a hipnose pode ser aplicado a diversos perfis de pessoas e tem como fator decisivo a participação e aceitação pelo indivíduo.</p>
      </div>

      <div class="row mb-3">
        <h3 class="title-subsection ">Existe algum risco para o paciente?</h3> <br>
        <p class="text-content space-small">Não existe risco. Nada será feito sem o total consentimento e controle da pessoa.</p>
      </div>
    </div>
  </section>
