<section id="tratamentos">
    <div class="container">
      <h2 class="title-section gray text-center mb-4">profissionais especializados</h2>

      <div class="row d-flex justify-content-center">
        <div class="col-md-8 box-omni p-4 ">
          <div class="row d-flex justify-content-center align-items-center">
            <img src="../../../assets/img/omni-logo.png" alt="OMNI Hypnosis Training Center®" height="93px" width="93px">
            <p class="text-content space-small ml-4"><b>Certificados OMNI Hypnosis Training Center®</b><br>O maior e mais antigo institutos de hipnoterapia <br> do planeta, tendo sede em 17 países.</p>
          </div>
        </div>
      </div>

      <div class="row d-flex justify-content-center mt-4">
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-4">
              <div class="img-team" class="d-flex justify-content-center">
                <img src="../../../assets/img/profissionais-03.png" alt="Lucy Mari Tabuti">
              </div>
              <h5 class="text-center mt-3 title-section team">Lucy Mari Tabuti</h5>
              <p class="text-center text-content space-small">Hipnoterapeuta formada pela OMNI Brasil e Educadora formada pela USP.</p>
              <div class="omni-s d-flex justify-content-center">
                <img src="../../../assets/img/omni-logo.png" alt="OMNI" height="62px" width="62px">
                <img class="ml-2" src="../../../assets/img/omine_hero.png" alt="OMNI Hero" height="62px" width="62px">
              </div>
            </div>
            <div class="col-md-4">
              <div class="img-team" class="d-flex justify-content-center">
                <img src="../../../assets/img/profissionais-05.png" alt="Lucy Mari Tabuti">
              </div>
              <h5 class="text-center mt-3 title-section team">Rafael Segato</h5>
              <p class="text-center text-content space-small">Hipnoterapeuta formada pela OMNI Brasil.</p>
              <div class="omni-s d-flex justify-content-center">
                <img src="../../../assets/img/omni-logo.png" alt="OMNI" height="62px" width="62px">
              </div>
            </div>
            <div class="col-md-4">
              <div class="img-team" class="d-flex justify-content-center">
                <img src="../../../assets/img/profissionais-04.png" alt="Lucy Mari Tabuti">
              </div>
              <h5 class="text-center mt-3 title-section team">Gustavo Sales</h5>
              <p class="text-center text-content space-small">Hipnoterapeuta formado pela OMNI Brasil.</p>
              <div class="omni-s d-flex justify-content-center">
                <img src="../../../assets/img/omni-logo.png" alt="OMNI" height="62px" width="62px">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
